$relativePath:    "../";
$icon-font-path:  "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path:    "~font-awesome/fonts";

$btn-font-weight:                bold !default;

$container-sm:          780px !default;
$container-md:         1000px !default;
$container-lg:         1200px !default;

$btn-default-color:              #0d426b !default;
$btn-default-bg:                 #d2d3d4 !default;
$btn-default-border:             #ccc !default;

$brand-primary:                  #0d426b !default;
$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             darken($btn-primary-bg, 5%) !default;

$brand-info:                     #00b1eb !default;
$btn-info-color:                 #fff !default;
$btn-info-bg:                    $brand-info !default;
$btn-info-border:                darken($btn-info-bg, 5%) !default;

$brand-warning:                  #f4b600 !default;
$btn-warning-color:              #fff !default;
$btn-warning-bg:                 $brand-warning !default;
$btn-warning-border:             darken($btn-warning-bg, 5%) !default;

$brand-success:                  #4b774b !default;
$btn-success-color:              #fff !default;
$btn-success-bg:                 $brand-success !default;
$btn-success-border:             darken($btn-success-bg, 5%) !default;