<div class="container">
	<h1>Paginador</h1>
	<h3>Exemplo</h3>

	<h4><i>Observa&ccedil;&atilde;o: veja o log no console do navegador.</i></h4>

	<div class="botoes">
		<a class="btn btn-primary" id="btSearchNgTable" ng-click="vm.search()">Executar exemplo</a>
	</div>
</div>

<div class="container" ng-show="vm.pesquisaRealizada">
	<h1>Resultado da Pesquisa</h1>

	<cs-paginator-ng-table funcao="vm.ngTable" table="vm.tableParams">
		<table ng-table="vm.tableParams" show-filter="vm.showFilterColumns" ng-show="vm.tableParams.data.length > 0">
			<tr ng-repeat="item in $data">
				<td title="'A&ccedil;&atilde;o'" ng-if="vm.functionUpdateAble || vm.functionDetailAble || vm.functionRemoveAble || vm.functionMoreAble">
					<div class="icones">
						<a class="alterar" title="Alterar" ng-if="vm.functionUpdateAble" ng-click="vm.ngTableUpdate(item)"></a>
						<a class="detalhes" title="Detalhar" ng-if="vm.functionDetailAble" ng-click="vm.ngTableDetail(item)"></a>
						<a class="excluir" title="Excluir" ng-if="vm.functionRemoveAble" ng-click="vm.ngTableRemove(item)"></a>
						<a class="mais" title="Mais" ng-if="vm.functionMoreAble" ng-click="vm.ngTableMore(item)"></a>
					</div>
				</td>
				<td title="'Nome'" filter="{ nome: 'text'}" sortable="'nome'">
					{{item.nome}}</td>
				<td title="'Valor'" filter="{ valor: 'number'}" sortable="'valor'">
					{{item.valor}}</td>
				<td title="'Descri&ccedil;&atilde;o'" filter="{ descricao: 'text'}" sortable="'descricao'">
					{{item.descricao}}</td>
				<td title="'Tipo'" filter="{ tipoParametro: 'text'}" sortable="'tipoParametro'">
					{{item.tipoParametro}}</td>
			</tr>
		</table>
	</cs-paginator-ng-table>

</div>