// alertas ao usuario (possibilita a exibicao de mais de uma caixa de mensagem/alerta)
cs-message {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  #alerta {
    position: relative !important;
    margin-bottom: 1rem;
  }

  #alerta.alert {
    border: 1px solid #f0f098;
    color: #bdbd67;
    background: #feffc9;
  }
  
  #alerta.alert > a {
    background: url("../images/alerta-close-erro.svg") no-repeat center;
  }
  
  #alerta.alert > a:hover {
    background: url("../images/close-menu.svg") no-repeat center;
  }