div[cs-multi-select] {

  td {
    padding: 0 0 0.25rem 0;
  }

  td:first-child, td:last-child {
    width: 50%;
  }

  td:not(:first-child, :last-child) {
    max-width: 70px;
    min-width: 70px;
    padding: 0px 10px 0px 10px;
  }

  th {
    padding-left: 2px;
  }

  th:not(:first-child, :last-child) {
    background-color: #ffffff;
  }

  select {
    min-height: 250px;
    max-height: 500px;
    padding-top: 5px;
  }

  input {
    font-family: FontAwesome;
    margin-bottom: 5px;
  }
}