.paginador{
    height: 30px;
    width: 100%;
    float: left;
    margin: 10px 0px 10px 0px;
  }
  
  .paginadorBotoes{
    width: auto;
    float: right;
    margin-top: 5px;
  }
  
  .menuExportar{
    height: 100%;
    width: auto;
    float: left;
  }
  
  .menuExportar > select{
    height: 100%;
  }
  
  .paginadorBotao {
    height: 20px;
    width: 16px;
    background-size: 16px 16px;
    cursor: pointer;
    float: left;
    background-repeat: no-repeat;
    background-position-y: 50%;
  }
  
  .paginadorBotaoVoltar{
    @extend .paginadorBotao;
    background-image: url("../images/previous_yellow.png");
  }
  
  .paginadorBotaoVoltarDesabilitado{
    @extend .paginadorBotao;
    background-image: url("../images/previous_gray.png");
    cursor: not-allowed;
  }
  
  .paginadorBotaoAvancar{
    @extend .paginadorBotao;
    background-image: url("../images/next_yellow.png");
  }
  
  .paginadorBotaoAvancarDesabilitado{
    @extend .paginadorBotao;
    background-image: url("../images/next_gray.png");
    cursor: not-allowed;
  }
  
  .paginadorPaginaAtual{
    width: auto;
    float: left;
    padding: 0px 10px 0px 10px;
  }
  
  .paginadorInput{
    height: 20px;
    width: 45px !important;
    min-width: 45px !important;
    float: left;
    font-size: 12px;
    margin: 0px 10px 10px 0px;
  }

  div.icones > a.vincular {
    background-image: url(../images/vincular.png);
  }
  
  div.icones > a.vincular:active {
    background-image: url(../images/vincular-active.png);
  }
  