// validar formulario
.form-group + span[name='mensagemErro']{
    visibility: hidden;
    display: none;
  }
  
  .form-control.ng-invalid {
    border: 1px solid #ed1c24 !important;
    box-shadow: 0px 0px 5px #ed1c24;
  }
  
  span[name='mensagemErro']{
    color: #ed1c24;
    font-size: 14px;
    line-height: 1.4rem;
    visibility: visible;
    display: block;
  }