<div class="container">
    <h1>Mensagens</h1>
    <h3>Exemplo</h3>

    <a class="btn btn-default" id="sucesso" ng-click="vm.exibirMensagemSucesso()">Sucesso</a>
    <a class="btn btn-default" id="erro" ng-click="vm.exibirMensagemErro()">Erro</a>
    <a class="btn btn-default" id="alert" ng-click="vm.exibirMensagemAlerta()">Alerta</a>
    <a class="btn btn-default" id="informacao" ng-click="vm.exibirMensagemInformacao()">Informa&ccedil;&atilde;o</a>
</div>