<div class="container">
    <br>
    <h1>Consulta de Superintendência Estadual - SE </h1>

    <br>
    <div class="form">
        <form name="vm.formularioSE">
            <div class="row">
                <div class="form-group">
                <div class="col-md-4">
                    <label>SE:</label>
                    <select class="form-control"
                            ng-options="item as item.sigla for item in vm.model.filtros.siglaSE track by item.sigla"
                            ng-model="vm.model.dadoSelecionado.seSelecionada">
                        <option value="">Selecione</option>
                    </select>
                </div>

                <div class="col-md-8">
                    <label>Nome:</label>
                    <input type="text" id="nome" class="form-control" ng-model="vm.model.filtros.nomeSE" />
                </div>
                </div>
            </div>
        </form>
    </div>
    <br>

    <div class="botoes">
        <a class="btn btn-primary" id="btSalvar" ng-click="vm.listarSESegmentadoPorUF()">Pesquisar</a>
    </div>
</div>

<div class="container" ng-show="vm.model.listaArquivos.length">
    <h1>Resultado da Consulta</h1>

     <table>
        <thead>
        <tr>
            <th> Sigla </th>
            <th> Nome </th>
            <th> Faixa de CEP </th>
            <th> UF </th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="item in vm.model.listaArquivos">
            <td id="sigla" ng-bind="item.sigla"></td>
            <td id="nomeSE" ng-bind="item.mcu"></td>
            <td id="faixaCep" ng-bind="item.faixaCepInicial" até ng-bind="item.faixaCepFinal"></td>
            <td id="uf" ng-bind="item.ufSigla"></td>
        </tr>
        </tbody>
    </table>
</div>

