<div class="container">

    <h1>Modal Dialog</h1>
    <h3>Exemplo</h3>

    <h4><i>Observa&ccedil;&atilde;o: veja o log no console do navegador.</i></h4>

    <a class="btn btn-default" id="excluir"
       cs-dialog
       titulo="vm.tituloExcluir"
       texto="vm.textoExcluirConfirmar"
       executar="vm.excluirItem()"
       ng-bind="vm.tituloExcluir">
    </a>

    <a class="btn btn-primary" id="alterar"
       cs-dialog
       titulo="vm.tituloAlterar"
       texto="vm.textoAlterarConfirmar"
       executar="vm.alterarItem()"
       ng-bind="vm.tituloAlterar">
    </a>

</div>