<div class="container">

    <!--seu codigo-->

    <h1>Modal</h1>
    <h3>Exemplo</h3>

    <div class="botoes">
        <a class="btn btn-primary" id="executarExemplo" ng-click="vm.show = !vm.show">Executar exemplo</a>
    </div>

    <div id="usuarioSelecionado">
        Usu&aacute;rio selecionado na modal: <b>{{vm.usuarioSelecionado.nome ? vm.usuarioSelecionado.nome : "execute a modal"}}</b>
    </div>

    <!--seu codigo-->

</div>

<cs-modal show="vm.show">

    <!--seu codigo-->

    <h1>Usu&aacute;rios</h1>

    <table>
        <thead>
            <tr>
                <th class="col-md-1">
                    Selecione
                </th>
                <th>
                    Usu&aacute;rio
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="usuario in vm.usuarios">
                <td>
                    <input type="radio" ng-model="vm.usuarioSelecionado" ng-value="usuario">
                </td>
                <td ng-bind="usuario.nome"></td>
            </tr>
        </tbody>
    </table>

    <div class="botoes">
        <a class="btn btn-default" id="fecharModal" ng-click="vm.show = !vm.show">Cancelar</a>
        <a class="btn btn-primary" id="salvar" ng-click="vm.salvar()">Salvar</a>
    </div>

    <!--seu codigo-->

</cs-modal>