<div class="container">
    <h1>Par&acirc;metro de Sistema</h1>
    <h3>Pesquisar</h3>

    <div class="form">
        <div class="form-group">
            <label>Par&acirc;metro:</label>
            <input id="descricaoParametro" type="text" class="form-control" name="descricaoParametro" ng-model="vm.model.filtros.descricao" />
        </div>
    </div>

    <div class="botoes">
        <a class="btn btn-primary" id="btCadastrar" ng-click="vm.cadastrarParametro()">Cadastrar</a>
        <a class="btn btn-primary" id="btPesquisar" ng-click="vm.search()">Pesquisar</a>
    </div>

</div>

<div class="container" ng-show="vm.pesquisaRealizada">
    <h1>Resultado da Pesquisa</h1>

    <cs-paginator-ng-table funcao="vm.ngTable" table="vm.tableParams">
        <table ng-table="vm.tableParams" show-filter="vm.showFilterColumns" ng-show="vm.tableParams.data.length > 0">
            <tr ng-repeat="item in $data">
                <td title="'A&ccedil;&atilde;o'" ng-if="vm.functionUpdateAble || vm.functionDetailAble || vm.functionRemoveAble || vm.functionMoreAble">
                    <div class="icones">
                        <a class="alterar" title="Alterar" ng-if="vm.functionUpdateAble" ng-click="vm.ngTableUpdate(item)"></a>
                        <a class="detalhes" title="Detalhar" ng-if="vm.functionDetailAble" ng-click="vm.ngTableDetail(item)"></a>
                        <a class="excluir" title="Excluir" ng-if="vm.functionRemoveAble"
                           cs-dialog
                           titulo="vm.tituloExcluir"
                           texto="vm.textoExcluirConfirmar"
                           executar="vm.excluirParametro(item)">
                        </a>
                        <a class="mais" title="Mais" ng-if="vm.functionMoreAble" ng-click="vm.ngTableMore(item)"></a>
                    </div>
                </td>
                <td title="'Nome'" filter="{ nome: 'text'}" sortable="'nome'">
                    {{item.nome}}</td>
                <td title="'Valor'" filter="{ valor: 'number'}" sortable="'valor'">
                    {{item.valor}}</td>
                <td title="'Descri&ccedil;&atilde;o'" filter="{ descricao: 'text'}" sortable="'descricao'">
                    {{item.descricao}}</td>
                <td title="'Tipo'" filter="{ tipoParametro: 'text'}" sortable="'tipoParametro'">
                    {{item.tipoParametro}}</td>
            </tr>
        </table>
    </cs-paginator-ng-table>

</div>