<div class="container">
    <h1>Par&acirc;metro do Sistema</h1>
    <h5>(&ast;) Os campos assinalados s&atilde;o obrigat&oacute;rios.</h5>

    <div class="form">
        <form name="form">

            <div class="row">
                <div class="form-group">
                    <div class="col-md-6">
                        <label>Nome:&ast;</label>
                        <input type="text" id="nome" class="form-control" ng-model="vm.model.dadoItemEdicao.nome" cs-validar obrigatorio="true" />
                    </div>

                    <div class="col-md-3">
                        <label>Sobrenome:</label>
                        <input type="text" id="sobrenome" class="form-control" ng-model="vm.model.dadoItemEdicao.sobrenome" />
                    </div>

                    <div class="col-md-3">
                        <label>Apelido:</label>
                        <input type="text" id="apelido" class="form-control" ng-model="vm.model.dadoItemEdicao.apelido" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Valor:&ast;</label>
                <input type="text" id="valor" name="valor" class="form-control" ng-model="vm.model.dadoItemEdicao.valor" cs-validar obrigatorio="true" />
            </div>

            <div class="form-group">
                <label>Descri&ccedil;&atilde;o:&ast;</label>
                <textarea id="descricao" name="descricao" class="form-control" ng-model="vm.model.dadoItemEdicao.descricao" cs-validar obrigatorio="true" />
            </div>

            <div class="form-group">
                <label>Tipo:</label>
                <input type="text" id="tipoParametro" class="form-control" ng-model="vm.model.dadoItemEdicao.tipoParametro" />
            </div>

        </form>
    </div>

    <div class="botoes">
        <a id="btCancelar" class="btn btn-default" ui-sref="parametro-sistema.voltar">Cancelar</a>
        <a id="btAlterar" class="btn btn-primary" ng-click="vm.editarParametro()">Salvar</a>
    </div>
</div>