<div id="corpo">
    <div class="container">
        <div class="m">
            <h1>Pré Projeto Java</h1>
            <h2>Informação</h2>
            <p>
                O Pré projeto Java é uma seleção de tecnologias com alguns exemplos de implementações para aplicativos web
            </p>
            <p>
                Os Principais objetivos do PPJ são:
                <br>Produtividade
                <br>Manutenabilidade
                <br>Interface visual padrão
            </p>

        </div>
    </div>
</div>