<div>
    <div ng-transclude></div>

    <div name="paginatorNgTableQuantidadeItensPagina" ng-show="listWithData">
        <select ng-model="countPerPage" ng-change="changePageSize(countPerPage)" class="form-control">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>

    <div class="dadoNaoEncontrado" ng-show="!listWithData && searchComplete">
        Dado n&atilde;o encontrado.
    </div>
</div>