<div class="container">

    <div class="form">
        <h1>M&aacute;scaras</h1>
        <h3>Exemplos</h3>

        <div class="form-group">
            <label>CPF/CNPJ</label>
            <input type="text" id="cpfCnpjCliente" class="form-control" ng-model="vm.cpfCnpj" format="number" cs-mask-cpf-cnpj maxlength="18"
            />
        </div>

        <div class="form-group">
            <label>Data BR</label>
            <input type="text" id="dataBr" class="form-control" ng-model="vm.dataBr" cs-mask-data-br/>
        </div>

    </div>

</div>