<div class="container">
    <h1>Multi Sele&ccedil;&atilde;o</h1>
    <h3>Exemplo</h3>

    <div id="listaCidadesParaSelecionar"
         cs-multi-select
         lista-a="vm.listaA"
         label-lista-a="'Pessoas'"
         lista-b="vm.listaB"
         label-lista-b="'Pessoas Selecionadas'"
         exibir="'nome'">
    </div>


    </br>
    </br>
    <b>ng-model</b> das listas:
    </br>
    vm.listaA = {{vm.listaA}}

    </br>
    </br>
    vm.listaB = {{vm.listaB}}

</div>