<div id="alerta" class="aberto"
     ng-repeat="message in messageController.messages"  ng-show="messageController.messages.length > 0"
     ng-class="{'sucesso': message.type == 0,
      'erro': message.type == 1,
      'alert': message.type == 2,
      'info': message.type == 3}">

    <div ng-class="{textoSemQuebraLinha: message.text.length < 50}">{{message.text}}</div>

    <a ng-click="messageController.removeMessage(message)"></a>
</div>