<table>
    <thead>
        <tr>
            <th ng-bind="labelListaA"></th>
            <th></th>
            <th ng-bind="labelListaB"></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                <select multiple name="listaElements" id="listaElements"
                        ng-model="elementToAdd"
                        ng-options="item.{{exibir}} for item in listaA | orderBy:exibir track by item.{{exibir}}">
                </select>
            </td>


            <td>
                <input class="form-control" title="Adicionar item" type="button" value="&#xf105;" ng-click="doMoveOneElement(directionListAToListB)" ng-disabled="listaA.length == 0"></input>
                <input class="form-control" title="Remover item" type="button" value="&#xf104;" ng-click="doMoveOneElement(!directionListAToListB)" ng-disabled="listaB.length == 0"></input>
                <hr/>
                <input class="form-control" title="Adicionar todos" type="button" value="&#xf101;" ng-click="doMoveAllElement(directionListAToListB)" ng-disabled="listaA.length == 0"></input>
                <input class="form-control" title="Remover todos" type="button" value="&#xf100;" ng-click="doMoveAllElement(!directionListAToListB)" ng-disabled="listaB.length == 0"></input>
            </td>


            <td>
                <select multiple name="listaElementsSelected" id="listaElementsSelected"
                        ng-model="elementToDelete"
                        ng-options="item.{{exibir}} for item in listaB | orderBy:exibir track by item.{{exibir}}">
                </select>
            </td>
        </tr>
    </tbody>
</table>